.form {
    display: flex;
    flex-direction: column;
}
label {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

legend {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}